@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
  --background: 255 255 255;
  --foreground: 23 23 23;
  --border: 229 231 235;
  --card-bg: 249 250 251;
  --primary: 37 99 235;
  --primary-hover: 29 78 216;
  --secondary: 241 245 249;
  --button-bg: 37 99 235;
  --button-text: 255 255 255;
  --link: 37 99 235;
  --link-hover: 29 78 216;
}


.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;
  --border: 35 39 47;
  --card-bg: 24 24 27;
  --primary: 96 165 250;
  --primary-hover: 59 130 246;
  --secondary: 35 39 47;
  --button-bg: 96 165 250;
  --button-text: 255 255 255;
  --link: 96 165 250;
  --link-hover: 59 130 246;
}




